<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Web</title>
    <link rel="stylesheet" href="/bootstrap-css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="https://kit.fontawesome.com/e16cebc917.js" crossorigin="anonymous"></script>
</head>
<body>
    
    {{> menu }}
    {{{ body }}}

    

<script src="/assets/js/main.js"></script>
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap-js/bootstrap.bundle.min.js"></script>

</body>
</html>
