<h1 class="text-center mt-5">Bienvenidos al Mercado Web. Seleccione sus productos </h1>
          <div class="position-fixed" style="z-index: 11; width: 100%; top: 20% ; display: flex; justify-content: center;">
          <div id="toastAgregado" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="1500">
            <div class="toast-header bg-success text-white text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart-check" viewBox="0 0 16 16">
                <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                </svg>
              <strong class="mx-auto">Carrito de Compras</strong>
              <button type="button" class="btn-close bg-white" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
                <div class="toast-body text-center">
                Producto agregado al carrito.
                </div>
          </div>
        </div>
  <section class="py-2">
    <div class="container mt-3">
      <div class="row lista-productos">
        {{#each productos}}
          {{> producto nombre=this }}
        {{/each}}
      </div>
    </div>
  </section>

  <section class="container py-5">
    <div class="d-flex justify-content-center">
        <input type="text" class="form-control" id="buscarProducto" placeholder="Buscar productos..." style="width: 300px;">
    </div>
    
    <div class="d-flex justify-content-center mt-3">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productosModal">
            Ver Productos Seleccionados
        </button>
    </div>
  
  </section>

<section class="container py-5">
<div class="modal fade" id="productosModal" tabindex="-1" role="dialog" aria-labelledby="productosModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productosModalLabel">Productos Seleccionados</h5>
        
      </div>
      <div class="modal-body">
        <!-- El contenido de los productos seleccionados se añadirá aquí -->
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

        <button type="button" class="btn btn-primary">Confirmar Selección</button>
      </div>
    </div>
  </div>
</div>

</section>
