html, body {
    height: 100%;
    margin: 0;
}


body {
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    background-attachment: fixed;

}


.card-transparente {
    background-color: rgba(255, 255, 255, 0.8); /* Ajusta la transparencia */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Ajusta la sombra según necesites */
  }



  /* styles.css */
.carrito-contador {
    background-color: #f00; /* Rojo para visibilidad, cambia según tu diseño */
    color: #fff;
    border-radius: 30%;
    padding: 1px 8px;
    position: absolute;
    top: 10px; /* Ajusta según la necesidad */
    margin-left: 1px; /* Ajusta aquí si es necesario */
    font-size: 0.75em;
  }
  